<% content_for :sidenav_switch do @shownavbar = true end %>

<% content_for :sidenav do %>

    <div class="navbar navbar-fixed-left col-xs-12 col-sm-2 col-md-2 bs-sidebar">


                <% if params[:project_id].nil? then %>

          <% @projid = current_user.rootproject_id.to_s %>

          <% else %>

          <% if params[:project_id].empty? then @projid = current_user.rootproject_id.to_s else %>
        
          <% @projid = params[:project_id] %>

          <% end %>

          <% end %>

      <div class="well">

        <% @currentitem = "molecules" %>

        <%= render 'layouts/moleculesmenu', :category => "molecules", :project_id => @projid %>

      </div>


        <%= render 'layouts/projectsmenu', :category => "molecules", :project_id => @projid %>


    </div>
  
<% end %>

<% @shownavbar = true %>

<%= @output %>

<% if @filter then %>

<div class="alert alert-info">
<p>This molecule list is filtered.&nbsp;<a class="btn btn-primary btn-xs" href="/molecules?project_id=<%= @projid %>">Remove filter</a></p>
</div>

<% else %>

<div class="alert alert-info">

<p>All molecules are displayed.&nbsp;<a class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#searchwindow" href="#">Filter...</a></p>


<div id="searchwindow" class="collapse" role="collapse">

        <script type="text/javascript" src="/assets/ChemDoodleWeb/sketcher/ChemDoodleWeb-sketcher.js"></script>

          <canvas id="sketcher_search" onclick="updatemoleculesearch();" >

          
          </canvas>

          <script type="text/javascript">


            var sketcher = new ChemDoodle.SketcherCanvas('sketcher_search', 600, 200, {useServices: false, oneMolecule: true, isMobile: true});


            function updatemoleculesearch() {
                mol = sketcher.getMolecule();

                document.getElementById("search_molfile").value = ( ChemDoodle.writeMOL(mol));

            }

        </script>


          

          <form id="moldetailform" action="/molecules/filter" method="get">

            <textarea id="search_molfile" name="molfile" rows="50" cols="300" style="display:none;">temporary molfile</textarea>

            <input type="hidden" name="project_id" value="<%= @projid %>" />

            <button type="submit" class="btn btn-primary" onclick="">Structure Search &raquo;</button>
            

          </form>

          <br/>

          <form id="moldetailform" action="/molecules/filter" method="get">

            <input type="hidden" name="project_id" value="<%= @projid %>" />

            <p>Molecule name:&nbsp;
            <input type="text" id="search_molfile" name="title" rows="1" cols="30"></input>&nbsp; <button type="submit" class="btn btn-primary" onclick="">Name Search &raquo;</button></p>

            
            

          </form>


        </div>

  </div>

<% end %>

<% if !current_user.nil? then %>

<% project = Project.find(@projid) %>

<h1><% if project.title.nil? then %>My Molecules<% else %>Molecules in <%= project.title %><% end %>&nbsp;
<!-- <%= link_to 'New Molecule', new_molecule_path(:assign_to_project_id => project.id), :class => "btn btn-sm btn-success" %>--></h1>

<% projectmolecules = @molecules.where(["project_memberships.project_id = ?", project.id]) %>
<% if projectmolecules.length > 0 then %>
<table>
    
<% projectmolecules.each do |molecule| %>
  <tr>
    <td>
      


    <%= render "molecules/render", :molecule => molecule, :width => "100", :height => "100" %>


    </td>

    <td><%= link_to(molecule_path(molecule, :project_id => @projid)) do %><%= molecule.title %><% end %></td>
    <td><% molecule.samples.each do |sample| %>
      <p><%= link_to(sample.actual_amount.to_s+" of "+sample.target_amount.to_s+" "+sample.unit, sample_path(sample, :project_id => @projid)) %> <% sample.reactions.each do |r| %>as <%= sample.role %> in reaction <%= link_to r.name, reaction_path(r, :project_id => @projid) %><% end %></p>
      <% end %></td>
  </tr>
<% end %>
</table>

<% else %>

<p>No molecules found.</p>

<% end %>

<% end %>


<br/>


<br/>
