<% @showsidebar = true %>

<% content_for :sidebar_switch do @showsidebar = true end %>

<% content_for :sidebar do %>

 <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          
  <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">Project visibility<!--&nbsp;<%= link_to "Change", assign_molecule_path, :class => "btn btn-xs btn-success" %>--></h3>
        </div>

        <div class="panel-body">


      <% current_user.topprojects.each do |p| %>

              <ul class="nav nav-pills nav-stacked">

                <%= render 'layouts/projecttree', :highlight => @molecule.projects, :p => p, :project_id => -1, :category => "molecules", :level => 0 %>


          </ul>

      <% end %>


            
          </div>
        </div>
    </div>
</div>

<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          
  <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">Permissions</h3>
        </div>

        <div class="panel-body">


          <p>Element Creator: <%= User.find(@project_molecule.user_id).firstname + " "+ User.find(@project_molecule.user_id).lastname %></p>
            
          </div>
        </div>
    </div>
</div>
  
<% end %>



<% content_for :sidenav_switch do @shownavbar = true end %>

<% content_for :sidenav do %>

    <div class="navbar navbar-fixed-left col-xs-12 col-sm-2 col-md-2 bs-sidebar">


      <div class="well">

        <% @currentitem = "molecules" %>

        <%= render 'layouts/moleculesmenu', :category => "molecules", :project_id => @project.id %>

      </div>


        <%= render 'layouts/projectsmenu', :category => "molecules", :project_id => @project.id %>



    </div>
  
<% end %>

<% @shownavbar = true %>

<h1>
  <span class="glyphicon glyphicon-map-marker" /><%= @molecule.title %>
</h1>

<table style="border-spacing: 10px; border-collapse: separate;">
  <tr>

    <td>

<%= render "molecules/render", :molecule => @molecule, :width => "200", :height => "150" %>

</td>

<td>

<p>
  <b>Formula:</b>
  <%= @molecule.formula %>
</p>

<p>
  <b>Canonical Smiles:</b>
  <%= @molecule.smiles %>
</p>

<p>
  <b>Inchi:</b>
  <%= @molecule.inchi %>
</p>

<p>
  <b>Inchikey:</b>
  <%= @molecule.inchikey %>
</p>

<p>
  <b>Mass:</b>
  <%= @molecule.mass %>
</p>

<% if PcCompound.exists?(["inchikey = ?", @molecule.inchikey]) then %>

<p><b>Crosslinks:</b>&nbsp;<%= link_to("http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid="+PcCompound.where(["inchikey = ?", @molecule.inchikey]).first.cid.to_s,  :target => "_blank", :class => "btn btn-xs btn-default") do %><%= image_tag("/pubchem.jpg", :size => "40x12") %><% end %></p>

<% end %>

</td>
</tr>
</table>


<% @molecule.samples.each do |sample| %>

<% molecule = sample.molecule %>

<h4><%= link_to(sample_path(sample, :project_id => @project.id)) do %><span class="glyphicon glyphicon-glass" /><%=  sample.longname %><% end %> <% if !sample.reactions.first.nil? then %><small><% sample.reactions.each do |r| %><em> <%= sample.role %> in </em> <%= link_to reaction_path(r, :project_id => @project.id) do %><span class="glyphicon glyphicon-flash" /><%= r.name %><% end %><% end %><% end %></small></h4>


      <%= sample.target_amount.to_s+" "+sample.unit %>  <small> (<%= sample.weight.to_s+" "+sample.unit %>) </small>

          <% if !sample.citations.empty? then %>

 <% sample.citations.each do |c| %>

    <span class="glyphicon glyphicon-book" /> <%= link_to "http://dx.doi.org/"+c.doi, :target => "_blank" do %><%= c.title %><% end %><br><%= c.fullcitation %><br>

  <% end %>

<% end %>
    
  <%= render 'library_entries/datasets', :sample => sample, :id => sample.id %>

  <br>

<% end %>






<% if params[:reaction_id].nil? then %>
<%= link_to 'Back',molecules_path, :class => "btn btn-sm btn-default" %>
<% else %>
<%= link_to 'Back to reaction', Reaction.find(params[:reaction_id]), :class => "btn btn-sm btn-default" %>
<% end %>