
<h1>
  <%= @molecule.title %><% if !current_user.nil? then %><% if current_user.moleculeowner_of?(@molecule) then %>&nbsp;<%= link_to("Delete", @molecule, :method => :delete, :confirm => "Are you sure?", :title => "Delete #{@molecule.title}.", :class => "btn btn-sm btn-warning") %>&nbsp;<%= link_to("Assign to Project",assign_molecule_path(@molecule), :method => :get, :title => "Assign #{@molecule.title}.", :class => "btn btn-sm btn-info") %><% end %><% end %>
</h1>

<table style="border-spacing: 10px; border-collapse: separate;">
  <tr>

    <td>

<%= render "molecules/render", :molecule => @molecule, :width => "200", :height => "150" %>

</td>

<td>

<p>
  <b>Formula:</b>
  <%= @molecule.formula %>
</p>

<p>
  <b>Canonical Smiles:</b>
  <%= @molecule.smiles %>
</p>

<p>
  <b>Inchi:</b>
  <%= @molecule.inchi %>
</p>

<p>
  <b>Inchikey:</b>
  <%= @molecule.inchikey %>
</p>

<p>
  <b>Mass:</b>
  <%= @molecule.mass %>
</p>

<% if PcCompound.exists?(["inchikey = ?", @molecule.inchikey]) then %>

<p><b>Crosslinks:</b>&nbsp;<%= link_to("http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid="+PcCompound.where(["inchikey = ?", @molecule.inchikey]).first.cid.to_s,  :target => "_blank", :class => "btn btn-xs btn-default") do %><%= image_tag("/pubchem.jpg", :size => "40x12") %><% end %></p>

<% end %>

</td>
</tr>
</table>


<% if !current_user.nil? then %>

<h1>My Datasets <%= link_to 'Add Dataset', create_direct_datasets_path(:molecule_id => @molecule.id), :class => "btn btn-default btn-sm" %></h1>

<% if !@owndatasets.empty? then %>

<table>
  <% @owndatasets.order("method_rank ASC").each do |dataset| %>
    <tr>
      <td><%= link_to dataset do %><%= image_tag(dataset.preview_url, size: "150x100") %><% end %>
      </td>
      <td>
      <h4><%= link_to dataset do %><b><%= dataset.method %></b><% if !dataset.title.blank? then %> - <%= dataset.title %><% end %><% end %></h4>
      <% if !dataset.description.blank? then %>
      <p><%= dataset.description.html_safe %></p>
      <% end %>
      
    </td>
    </tr>
  <% end %>
</table>

<% else %>
  <p>You don't have any datasets for this molecule.</p>
<% end %>

<br />

<br/>

<% end %>




<%= link_to 'Back', molecules_path, :class => "btn btn-default btn-sm" %>

