
<h1>
  <%= @molecule.title %><% if !current_user.nil? then %><% if current_user.moleculeowner_of?(@molecule) then %>&nbsp;<%= link_to("Delete", @molecule, :method => :delete, :confirm => "Are you sure?", :title => "Delete #{@molecule.title}.", :class => "btn btn-sm btn-warning") %>&nbsp;<%= link_to("Assign to Project",assign_molecule_path(@molecule), :method => :get, :title => "Assign #{@molecule.title}.", :class => "btn btn-sm btn-info") %><% end %><% end %>
</h1>

<textarea id="molfile_<%= @molecule.id %>" name="sample.compound[molfile]" rows="50" cols="300" style="display:none;"><%= @molecule.molfile %></textarea>

<table style="border-spacing: 10px; border-collapse: separate;">
  <tr>

    <td>

<span id="molecule_<%= @molecule.id %>">
                            <script type="text/javascript">

                          viewACS  = new ChemDoodle.ViewerCanvas('viewACS_<%= @molecule.id %>', 200, 150);
                          molfile = document.getElementById("molfile_<%= @molecule.id %>").value;
                          molecule = ChemDoodle.readMOL (molfile);
                          molecule.scaleToAverageBondLength(14.4);
                          viewACS.loadMolecule(molecule);

                            </script>
</span>

</td>

<td>

<p>
  <b>Formula:</b>
  <%= @molecule.formula %>
</p>

<p>
  <b>Canonical Smiles:</b>
  <%= @molecule.smiles %>
</p>

<p>
  <b>Inchi:</b>
  <%= @molecule.inchi %>
</p>

<p>
  <b>Inchikey:</b>
  <%= @molecule.inchikey %>
</p>

<p>
  <b>Mass:</b>
  <%= @molecule.mass %>
</p>

</td>
</tr>
</table>


<% if !current_user.nil? then %>

<h1>My Datasets <%= link_to 'Add Dataset', create_direct_datasets_path(:molecule_id => @molecule.id), :class => "btn btn-default btn-sm" %></h1>

<% if !@owndatasets.empty? then %>

<table>
  <% @owndatasets.order("method_rank ASC").each do |dataset| %>
    <tr>
      <td><%= link_to dataset do %><%= image_tag(dataset.preview_url, size: "150x100") %><% end %>
      </td>
      <td>
      <h4><%= link_to dataset do %><b><%= dataset.method %></b><% if !dataset.title.blank? then %> - <%= dataset.title %><% end %><% end %></h4>
      <p><%= dataset.description.html_safe %></p>
      <p>Virtual DOI: <%= dataset.doi_identifier %></p>
    </td>
    </tr>
  <% end %>
</table>

<% else %>
  <p>You don't have any datasets for this molecule.</p>
<% end %>

<br />

<br/>

<% end %>




<%= link_to 'Back', molecules_path, :class => "btn btn-default btn-sm" %>

