<div class="container">


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {:class => "form-signin", :style => "max-width:400px; margin-left:auto; margin-right: auto;", :method => :put}) do |f| %>

  <%= devise_error_messages! %>

  <h2 class="form-signin-heading">Edit <%= resource_name.to_s.humanize %></h2>

  <div class="form-inputs">
    <%= f.text_field :email, :required => false, :autofocus => true, :class => "form-control", :placeholder => "Email address" %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <br/>

    <%= f.password_field :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false, :class =>"form-control", :placeholder => "Password" %>
    <%= f.password_field :password_confirmation, :required => false, :class =>"form-control", :placeholder => "Password confirmation" %>
    <%= f.password_field :current_password, :required => true , :hint => "we need your current password to confirm your changes",:class =>"form-control", :placeholder => "Current password" %>
    
  </div>

  <div class="form-actions">
    <%= f.submit "Update", :class =>"btn btn-lg btn-primary btn-block" %>
    <hr>
    <%= link_to "Back", :back, :class => "btn btn-default" %><%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-warning" %>
  </div>

  <br/>


<% end %>



</div>
