<div class="container">


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {:class => "form-signin", :style => "max-width:400px; margin-left:auto; margin-right: auto;"}) do |f| %>

  <h2 class="form-signin-heading">Create user account</h2>

  <div class="form-inputs">
    <%= f.text_field :email, :required => false, :autofocus => true, :class => "form-control", :placeholder => "Email address" %>

    <br/>

  <%= f.text_field :firstname, :required => true, :autofocus => true, :class => "form-control", :placeholder => "First name" %>

    <%= f.text_field :lastname, :required => true, :autofocus => true, :class => "form-control", :placeholder => "Last name" %>

  <%= f.text_field :sign, :required => true, :autofocus => true, :class => "form-control", :placeholder => "Your sign (initials)" %>

  	<br/>


    <%= f.password_field :password, :required => false, :class =>"form-control", :placeholder => "Password" %>
    <%= f.password_field :password_confirmation, :required => false, :class =>"form-control", :placeholder => "Password confirmation" %>
    
  </div>


  <div class="form-actions">
    <%= f.submit "Sign up", :class =>"btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>


</div>