<% content_for :sidenav_switch do @shownavbar = true end %>

<% content_for :sidenav do %>

    <div class="navbar navbar-fixed-left col-xs-12 col-sm-2 col-md-2 bs-sidebar">


      <div class="well">

        <% @currentitem = "datasets" %>

        <%= render 'layouts/moleculesmenu', :category => "datasets", :project_id => @project.id %>

      </div>




        <%= render 'layouts/projectsmenu', :category => "datasets", :project_id => @project.id %>


    </div>
  
<% end %>


<h1>Datasets</h1>
<%= will_paginate @project_datasets, renderer: BootstrapPagination::Rails %>

<% if @project_datasets.length > 0 then %>

<table>
  <% @project_datasets.each do |ps| %>

  <% dataset = Dataset.find(ps.dataset_id) %>

    <tr>

              <td><%= link_to(dataset_path(dataset, :project_id => @project.id)) do %><%= image_tag(dataset.preview_url, size: "150x100") %><% end %>
              </td>

              <td>
                <h4><%= link_to(dataset_path(dataset, :project_id => @project.id)) do %><b><%= dataset.method %></b><% if !dataset.title.empty? then %> - <%= dataset.title %><% end %><% end %></h4>
                <p><% if !dataset.description.blank? then %><%= dataset.description.html_safe %><% end %></p>
                <p>Virtual DOI: <%= dataset.doi_identifier %></p>
              
            </td>

            <td>

              <% if !dataset.sample.nil? && !dataset.sample.molecule.nil? then %>

              <%= render "molecules/render", :molecule => dataset.sample.molecule, :width => "200", :height => "150" %>

              <% end %>
              </td>

              <td>
                <% sample = dataset.sample %>
                
<h4><%= link_to(sample_path(sample, :project_id => @project.id)) do %><span class="glyphicon glyphicon-glass" /><%=  sample.longname %><% end %> <% if !sample.reactions.first.nil? then %><small><% sample.reactions.each do |r| %><em> <%= sample.role %> in </em> <%= link_to reaction_path(r, :project_id => @project.id) do %><span class="glyphicon glyphicon-flash" /><%= r.name %><% end %><% end %><% end %></small></h4>


              </td>

            </td>
            
    </tr>

    <% end %>
</table>

<% else %>
<p>No datasets in this project.</p>
<% end %> 