<% content_for :sidenav_switch do @shownavbar = true end %>

<% content_for :sidenav do %>

    <div class="navbar navbar-fixed-left col-xs-12 col-sm-2 col-md-2 bs-sidebar">

      <div class="well">

        <% @currentitem = "datasets" %>

        <%= render 'layouts/devicesmenu' %>

      </div>
    </div>
  
<% end %>

<h1>Datasets</h1>

<% if @datasets.length > 0 then %>

<table>
  <% @datasets.each do |dataset| %>
    <tr>
      <h4><%= link_to dataset do %><b><%= dataset.method %></b>&nbsp;-&nbsp;<%= dataset.title %><% end %></h4>
      <p><%= dataset.description %></p>
    </tr>
  <% end %>
</table>

<%= will_paginate @datasets, renderer: BootstrapPagination::Rails %>

<% else %>
<p>You don't have any datasets yet.</p>
<% end %> 