<h1>Listing datasets</h1>

<table>
  <% @datasets.each do |dataset| %>
    <tr>
      <h4><%= link_to dataset do %><b><%= dataset.method %></b>&nbsp;-&nbsp;<%= dataset.title %><% end %></h4>
      <p><%= dataset.description %></p>
    </tr>
  <% end %>
</table>

<%= will_paginate @datasets %>

