

<button id="2">show spectrum</button>
<div id="fullspectrum" style="height: 50px; width: 100%;"> </div> 
<div id="spectrum" style="height: 420px; width: 100%;"> </div>  

<%= link_to 'Back to dataset', @dataset, :class => "btn btn-sm btn-default" %> 

<script type="text/javascript">

var cont,cont2, data, opt; 
cont  =   document.getElementById("spectrum");
cont2 =  document.getElementById("fullspectrum");
data =  <%= @plotdx.xy %> ;
opt = {
        
        title: "<%= @plotdx.TITLE %> - <%= @plotdx.TYPE %> ",
        xaxis: {
        title: "<%= @plotdx.SYMBOL[0] %> ( <%= @plotdx.UNITS[0]  %> )",
       
        directionReversed: <%=@plotdx.xaxis_reversed%>,
        },
        yaxis: {
        title: "<%= @plotdx.SYMBOL[1] %> ( <%= @plotdx.UNITS[1] %> )",
        titleAngle: 90, 
        autoscale: false     
        },
     };
     

dual_mouse_zoom(cont,cont2, data, opt);
</script>



<script>
$(document).ready(function(){
  $("button#2").click(function(){
    $("div#spectrum").toggle();  });
});

</script>


