<% @showsidebar = true %>

<% content_for :sidebar_switch do @showsidebar = true end %>


<% content_for :sidebar do %>


    <% if @dataset.datasetgroups.first.datasets.length > 1 then %>
        <% content_for :sidebar_switch do @showsidebar = true end %>

            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

              <div class="well">
                <h4>Version History</h4>
                    <% @dataset.datasetgroups.first.datasets.each do |ds| %>
                        <% if ds.id == @dataset.id then %><b><% end %>
                        <%= link_to ds.created_at, ds %><br>
                        <% if ds.id == @dataset.id then %></b><% end %>
                    <% end %>
              </div>

            </div>
      
    <% end %>

    <% if !(@dataset.sample_id.nil?) then %>
        <% content_for :sidebar_switch do @showsidebar = true end %>

            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
              <div class="well">
                <h4>Associated Samples</h4>
                <span class="glyphicon glyphicon-map-marker" /><%= @dataset.sample.molecule.title %><br>

                <div class="thumbnail">

                    

                    <%= render "molecules/render", :molecule => @dataset.sample.molecule, :width => "100", :height => "100" %>
                

                </div>

                <div class="caption">

                    

                          <%= link_to(sample_path(@dataset.sample, :project_id => @project.id)) do %><span class="glyphicon glyphicon-glass" /><%=  @dataset.sample.longname %><% end %>

                </div>
        

              </div>
            </div>
      
    <% end %>

    <% if @dataset.sample.reactions.length > 0 then %>
        <% content_for :sidebar_switch do @showsidebar = true end %>

            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
              <div class="well">
                <h4>Associated Reaction</h4>

                        <%= link_to reaction_path(@dataset.sample.reactions.first) do %><span class="glyphicon glyphicon-flash" /><%= @dataset.sample.reactions.first.name %><% end %>

              </div>
            </div>
      
    <% end %>





    <% if !current_user.nil? then %>

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
              
        <div class="panel panel-default">

            <div class="panel-heading">
              <h3 class="panel-title">Project visibility</h3>
            </div>

            <div class="panel-body">


                  <% current_user.topprojects.each do |p| %>

                          <ul class="nav nav-pills nav-stacked">

                            <%= render 'layouts/projecttree', :highlight => @dataset.projects, :p => p, :project_id => -1, :category => "samples", :level => 0 %>


                            </ul>

                  <% end %>


                
              </div>
        </div>
    </div>

    <% end %>




<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          
  <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">Permissions</h3>
        </div>

        <div class="panel-body">


          <p>Element Creator: <%= User.find(@project_dataset.user_id).firstname + " "+ User.find(@project_dataset.user_id).lastname %></p>

          <p>Your role in the current project: <%= @project.role_str(current_user) %></p>

          <p>Your element permission: <%= @project_dataset.permission_str(current_user) %></p>    
            
          </div>
        </div>
    </div>


  
<% end %>



<% content_for :sidenav_switch do @shownavbar = true end %>

<% content_for :sidenav do %>

    <div class="navbar navbar-fixed-left col-xs-12 col-sm-2 col-md-2 bs-sidebar">


      <div class="well">

        <% @currentitem = "datasets" %>

        <%= render 'layouts/moleculesmenu', :category => "datasets", :project_id => @project.id %>

      </div>

<%= render 'layouts/databasemenu', :category => "datasets", :project_id => @project.id %>

        <%= render 'layouts/projectsmenu', :category => "datasets", :project_id => @project.id %>



    </div>
  
<% end %>

<% @shownavbar = true %>




<link rel="stylesheet" href="/css/jquery.fileupload.css">
<link rel="stylesheet" href="/css/jquery.fileupload-ui.css">

<script type="text/javascript">
$.ajaxSetup({
  headers: {
    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
  }
});

$(document).ajaxSend(function(e, xhr, options) {
  var token = $("meta[name='csrf-token']").attr("content");
  xhr.setRequestHeader("X-CSRF-Token", token);
});


</script>

<h1><span class="glyphicon glyphicon-paperclip" /><%= @dataset.method %><% if !@dataset.title.blank? then %> - <%= @dataset.title %><% end %>&nbsp;<%= link_to "/datasets/"+@dataset.id.to_s+"/zip?project_id="+@project.id.to_s, :class => "btn btn-info" do %><span class="glyphicon glyphicon-compressed"></span>Download as ZIP<% end %><% if @changerights then %>&nbsp;

    <%= link_to 'Edit metadata', edit_dataset_path(@dataset, :reaction_id => params[:reaction_id], :project_id => @project.id), :class => "btn btn-sm btn-success" %>
    &nbsp;<%= link_to("Delete", dataset_path(@dataset, :project_id => @project.id), :method => :delete, :confirm => "Are you sure?", :title => "Delete Dataset.", :class => "btn btn-sm btn-warning") %>

    <% end %>

    <% if Commit.exists?(["dataset_id = ?", @dataset.id]) then %>

    <%= link_to "Fork", fork_dataset_url(@dataset, :project_id => @project.id), :class => "btn btn-sm btn-warning" %>
    <% else %>
    <%= link_to "Commit", commit_dataset_url(@dataset, :project_id => @project.id), :method => :post,  :class => "btn btn-sm btn-warning" %>
    <% end %>

    </h1>


<% if !@dataset.description.blank? then %>
<p><b>Description:</b>&nbsp;<%= @dataset.description.html_safe %></p>
<% end %>

<% if !@dataset.details.blank? then %>
<p><b>Details:</b>&nbsp;<%= @dataset.details.html_safe %></p>
<% end %>

<script type="text/javascript">

var uploadurl = "<%= dataset_path(@dataset) %>/attachments";
 
</script>
<div id="plotting">  
    <%if Kai.test_file(@dataset.jdx_file) %>
          <%= button_to "interactive plot",{ action: "plotpoint",:dataset_id => @dataset.id}, :class => "btn btn-xs btn-default" %>
    <%end%>
  <div class="well"> 
 
  </div>
    <%= image_tag(@dataset.preview_url, size: "450x300", alt: "preview") %> 
</div>


<br>
<br>
<div>
<% if @changerights then %><h3>Open this dataset on your computer for editing</h3><% else %><h3>Open this dataset on your computer for viewing</h3><% end %>

<p><b>WebDAV in Firefox:</b> <%= "http://"+ LsiRailsPrototype::Application.config.action_mailer.default_url_options[:host] +"/davwwwroot/"+@dataset.webdavpath %>&nbsp;<%= link_to "WebDAV", "http://"+ LsiRailsPrototype::Application.config.action_mailer.default_url_options[:host] +"/davwwwroot/"+@dataset.webdavpath, :class => "btn btn-xs  btn-success" %><br>

<b>Ubuntu Folder:</b> <%= "dav://"+ LsiRailsPrototype::Application.config.action_mailer.default_url_options[:host] +"/davwwwroot/"+@dataset.webdavpath %><br>

<b>Windows Explorer:</b> <%= "\\\\"+ LsiRailsPrototype::Application.config.action_mailer.default_url_options[:host] +"\\DavWWWRoot\\"+@dataset.webdavpath %>&nbsp;
<%= link_to "Open", "file://"+ LsiRailsPrototype::Application.config.action_mailer.default_url_options[:host] +"/DavWWWRoot/"+@dataset.webdavpath, :class => "btn btn-xs btn-success" %></p>

<p><%= link_to "Instructions and Informations about WebDAV configuration...", "/webdav", :class => "btn btn-xs  btn-default" %></p>

</div>
<br>

<br>

<% if @changerights then %><h3>Drag & Drop files and folders from your computer into the browser</h3><% else %><h3>View attached files</h3><p>To edit this dataset, please fork it first.</p><% end %>


<div class="well">
<!-- The file upload form used as target for the file upload widget -->
    <form id="fileupload" action="<%= dataset_path(@dataset) %>/attachments" method="POST" enctype="multipart/form-data">

        <%= token_tag nil %>

         <input type="hidden" id="attachment_folder" name="attachment[folder]" style="display:hidden;">

        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <% if @changerights then %>
            <div class="col-7">
                
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                    <input id="attachment_file" type="file" name="attachment[file]" multiple directory webkitdirectory mozdirectory >
                    

                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel upload</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" class="toggle">
                
                <!-- The loading indicator is shown during file processing -->
                <span class="fileupload-loading"></span>
            </div>
            
            <!-- The global progress information -->
            <% end %>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table"><tbody class="files"></tbody></table>


        <div class="fileupload-progress fade out col-5">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress information -->
                <div class="progress-extended">&nbsp;</div>
            </div>
    </form>

</div>

<br/>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}

    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="relativePath" id="relativePath">{%=file.relativePath%}</p><p class="name">{%=file.name%}</p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <p class="size">{%=o.formatFileSize(file.size)%}</p>
            {% if (!o.files.error) { %}
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            {% } %}
        </td>
        <td>
            {% if (!o.files.error && !i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" target="_blank" title="{%=file.name%}" download="{%=file.name%}" ><img src="{%=file.thumbnailUrl%}" height="40px"></a>
                {% } %}
            </span>
        </td>
        <td>
            <span>{%=file.relativePath%}</span><p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" target="_blank" >{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
                
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td><% if @changerights then %>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
            <% end %>
        </td>
    </tr>
{% } %}
</script>

<script src="/js/vendor/jquery.ui.widget.js"></script>

<!-- The Templates plugin is included to render the upload/download listings -->
<script src="/js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="/js/load-image.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<!-- <script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script> -->

<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="/js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="/js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="/js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="/js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="/js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="/js/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
<script src="/js/main.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="js/cors/jquery.xdr-transport.js"></script>
<![endif]-->

<br>


<% if params[:reaction_id].nil? then %>
<%= link_to 'Back to molecule', molecule_path(@dataset.sample.molecule, :project_id => @project.id), :class => "btn btn-sm btn-default" %>
<% else %>
<%= link_to 'Back to reaction', reaction_path(Reaction.find(params[:reaction_id]), :project_id => @project.id), :class => "btn btn-sm btn-default" %>
<% end %>


