<% content_for :sidenav_switch do @shownavbar = true end %>

<% content_for :sidenav do %>

    <div class="navbar navbar-fixed-left col-xs-12 col-sm-2 col-md-2 bs-sidebar">

      <div class="well">

        <% @currentitem = "beaglebones" %>

        <%= render 'layouts/devicesmenu' %>

      </div>
    </div>
  
<% end %>

<h1>Beaglebones <%= link_to 'Register', new_beaglebone_path, :class => "btn btn-success" %>
</h1>

<% if @beaglebones.length > 0 then %>

<table class="table">
  <tr>
    <th>Serial number</th>
    <th>last seen</th>
    <th>IP address</th>
    <th></th>
    <th></th>
  </tr>

<% @beaglebones.each do |beaglebone| %>
  <tr>
    <td><%= beaglebone.serialnumber %></td>
    <td><%= if (beaglebone.last_seen) then distance_of_time_in_words_to_now(beaglebone.last_seen)+" ago" else "never" end %></td>

    <td><%= beaglebone.external_ip %> <small><span class="text-muted">(local: <%= beaglebone.internal_ip %>)</span></small></td>
    <td><%= link_to 'Edit', edit_beaglebone_path(beaglebone) %></td>
    <td><%= link_to 'Destroy', beaglebone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<% else %>
<p>You don't have any BeagleBones yet.</p>
<% end %> 