
<script type="text/javascript">

var globalcid = "0";

var resultmolecule;

function recalculate (dom_id) {

  var pieces = dom_id.split("_");

  var uid = pieces[3];

  prefix = pieces[0] + pieces[1] + pieces[2];

  suffix = pieces[4];

  if (pieces.length > 5) { suffix += "_"+pieces[5]}

  // get information about mol from starting material

  ultraratio = 1.0;
  ultraweight = 0.0;


      ed = document.getElementsByClassName ("educt-entry");

      for (var i = 0; i< ed.length; i++) {

        p = ed[i].getElementsByTagName("input")[0].id.split("_");

        ultraequiv = parseFloat(document.getElementById (p[0] + "_" + p[1]+ "_" + p[2] + "_" + p[3] + "_equivalent").value);
        ultramol = parseFloat(document.getElementById (p[0] + "_" + p[1]+ "_" + p[2] + "_" + p[3] + "_mol").value);
        ultraratio = ultraequiv / ultramol;

        ultraweight = ultraweight + parseFloat(document.getElementById (p[0] + "_" + p[1]+ "_" + p[2] + "_" + p[3] + "_target_amount").value);

      }


  if (pieces[1] == "educts") {
    
    // is this the line with equivalent 1?
    equiv = parseFloat(document.getElementById (pieces[0] + "_" + pieces[1]+ "_" + pieces[2] + "_" + uid + "_equivalent").value);

  }


  if (suffix == "mol") {

    // calculate amount

    weight = parseFloat(document.getElementById (pieces[0] + "_" + pieces[1]+ "_" + pieces[2] + "_" + uid + "_molecule_attributes_mass").value);

    mol = parseFloat(document.getElementById (pieces[0] + "_" + pieces[1]+ "_" + pieces[2] + "_" + uid + "_mol").value);

    newvalue = weight * mol;

    document.getElementById (pieces[0] + "_" + pieces[1]+ "_" + pieces[2] + "_" + uid + "_target_amount").value = newvalue.toFixed(2);

    if (pieces[1] == "reactants") {

      newvalue = ultraratio * mol;

      document.getElementById (pieces[0] + "_" + pieces[1]+ "_" + pieces[2] + "_" + uid + "_equivalent").value = newvalue.toFixed(2);

    }


  } else if (suffix == "target_amount") {

    // calculate mol

    weight = parseFloat(document.getElementById (pieces[0] + "_" + pieces[1]+ "_" + pieces[2] + "_" + uid + "_molecule_attributes_mass").value);

    amount = parseFloat(document.getElementById (pieces[0] + "_" + pieces[1]+ "_" + pieces[2] + "_" + uid + "_target_amount").value);

    newvalue = amount / weight;

    document.getElementById (pieces[0] + "_" + pieces[1]+ "_" + pieces[2] + "_" + uid + "_mol").value = newvalue.toFixed(2);

    if (pieces[1] == "reactants") {

      newvalue = ultraratio * newvalue;

      document.getElementById (pieces[0] + "_" + pieces[1]+ "_" + pieces[2] + "_" + uid + "_equivalent").value = newvalue.toFixed(2);

    }

  } else if (suffix == "equivalent") {

    weight = parseFloat(document.getElementById (pieces[0] + "_" + pieces[1]+ "_" + pieces[2] + "_" + uid + "_molecule_attributes_mass").value);

    equivalent = parseFloat(document.getElementById (pieces[0] + "_" + pieces[1]+ "_" + pieces[2] + "_" + uid + "_equivalent").value);

    mol = equivalent / ultraratio;

    amount = weight * mol;

    document.getElementById (pieces[0] + "_" + pieces[1]+ "_" + pieces[2] + "_" + uid + "_mol").value = mol.toFixed(2);

    document.getElementById (pieces[0] + "_" + pieces[1]+ "_" + pieces[2] + "_" + uid + "_target_amount").value = amount.toFixed(2);

  }


  updatemol = parseFloat(document.getElementById (pieces[0] + "_" + pieces[1]+ "_" + pieces[2] + "_" + uid + "_mol").value);

  if (pieces[1] == "educts" && equiv == 1) {

      // find all other lines

      ed = document.getElementsByClassName ("reactant-entry");

      for (var i = 0; i< ed.length; i++) {

        p = ed[i].getElementsByTagName("input")[0].id.split("_");

        if (p[3] != uid) {
          // update this row!

          targetequivalent = document.getElementById (p[0] + "_" + p[1]+ "_" + p[2] + "_" + p[3] + "_equivalent").value;

          newmol = targetequivalent * updatemol;

          document.getElementById (p[0] + "_" + p[1]+ "_" + p[2] + "_" + p[3] + "_mol").value = newmol.toFixed(2);

          weight = parseFloat(document.getElementById (p[0] + "_" + p[1]+ "_" + p[2] + "_" + p[3] + "_molecule_attributes_mass").value);

          newamount = weight * newmol;

          document.getElementById (p[0] + "_" + p[1]+ "_" + p[2] + "_" + p[3] + "_target_amount").value = newamount.toFixed(2);
          
          // alert (document.getElementById (p[0] + "_" + p[1]+ "_" + p[2] + "_" + p[3] + "_compound_attributes_sumformula").value);
        }

      }

  }


  // update yields

  ed = document.getElementsByClassName ("product-entry");

  console.log (ed);

  for (var i = 0; i< ed.length; i++) {

    p = ed[i].getElementsByTagName("input")[0].id.split("_");

    weight = document.getElementById (p[0] + "_" + p[1]+ "_" + p[2] + "_" + p[3] + "_target_amount").value;
    
    yield = weight / ultraweight * 100;  

    document.getElementById (p[0] + "_" + p[1]+ "_" + p[2] + "_" + p[3] + "_yield").value = yield.toFixed(1);

  }

}

function pick_molecule (cid) {

  globalcid = cid.substr (9, cid.length-1-9);

  globalcid = cid;

  $('#moleculemodal').modal({
    remote: '/molecules/pick',
    show: true
  });

  // sketcher.clear();

  // sketcher.loadMolecule(document.getElementsByClassName("molfile_["+globalcid+"]")[0].value);


}

function done(cid) {


  document.getElementsByClassName("molfile_["+cid+"]")[0].value = resultmolecule.molfile;

  var content = "<strong>"+ resultmolecule.mass +"</strong><br>"+resultmolecule.title+"<br>"+ resultmolecule.formula;

  document.getElementsByClassName("moldetails_["+cid+"]")[0].innerHTML = content;

  if (document.getElementById("reaction_educts_attributes_"+cid+"_molecule_attributes_id") != null) {
    target = "educts"
  } else if (document.getElementById("reaction_reactants_attributes_"+cid+"_molecule_attributes_id") != null) {
    target = "reactants"
  } else if (document.getElementById("reaction_products_attributes_"+cid+"_molecule_attributes_id") != null) {
    target = "products"
  }

  document.getElementById("reaction_"+target+"_attributes_"+cid+"_molecule_attributes_id").value = resultmolecule.id;

  document.getElementById("reaction_"+target+"_attributes_"+cid+"_molecule_attributes_formula").value = resultmolecule.formula;
  document.getElementById("reaction_"+target+"_attributes_"+cid+"_molecule_attributes_smiles").value = resultmolecule.smiles;
  document.getElementById("reaction_"+target+"_attributes_"+cid+"_molecule_attributes_mass").value = resultmolecule.mass;
  document.getElementById("reaction_"+target+"_attributes_"+cid+"_molecule_attributes_title").value = resultmolecule.title;
  document.getElementById("reaction_"+target+"_attributes_"+cid+"_molecule_attributes_inchi").value = resultmolecule.inchi;
  document.getElementById("reaction_"+target+"_attributes_"+cid+"_molecule_attributes_inchikey").value = resultmolecule.inchikey;
  document.getElementById("reaction_"+target+"_attributes_"+cid+"_molecule_attributes_spin").value = resultmolecule.spin;
  document.getElementById("reaction_"+target+"_attributes_"+cid+"_molecule_attributes_charge").value = resultmolecule.charge;


  // chemdoodleweb rendering
  if (!(typeof window["viewACS_["+cid+"]"] === "undefined")) {

    mol = ChemDoodle.readMOL (resultmolecule.molfile);
    mol.scaleToAverageBondLength(14.4);

    window["viewACS_["+cid+"]"].loadMolecule(mol);

  }

  if (!(typeof window["rendermolecule_["+cid+"]"] === "undefined")) {

    var svgBlob = new Blob([resultmolecule.svg], {type: "image/svg+xml;charset=utf-8"});
    var url = window.URL.createObjectURL(svgBlob);

    window["img_["+cid+"]"].src = url;

    console.log (resultmolecule.svg);
  }


  // only chemdoodleweb sketcher
  if (!(typeof tim === 'undefined')) { window.clearInterval(tim); }

  $('#moleculemodal').modal('hide');
  $('#moleculemodal').removeData('bs.modal');

  
}

$(document).bind('cocoon:after-insert', function (e, inserted_item) {
  console.log (inserted_item);
});

</script>



<%= form_for(@reaction, :html => {:onkeypress => "return event.keyCode != 13;", :class => "form form-horizontal" }) do |f| %>

<h1>Editing reaction&nbsp;

<%= f.submit("Save", :class => "btn btn-primary", :title => "Save the changes to this Reaction.") %>
      <%= link_to("Cancel", reactions_path, :confirm => "Are you sure you want to cancel?  Any changes will be lost.", :class => "btn btn-inverse", :title => "Cancel the changes and return to the Home page.") %>
   
   </h1>

    <fieldset>

      <div class="control-group">
        <%= f.label(:name, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:name, :class => "input-xlarge") %>
        </div>
      </div>

    </fieldset>

<br/>


    <fieldset>

      <h3>Starting materials&nbsp;<%= link_to_add_association("Add", f, :educts, :partial => 'educt_fields', :force_non_association_create => true, 'data-association-insertion-node' => '#educts', :class => "btn btn-primary educts", 'data-association-insertion-method' => 'append',:title => "Add a new Molecule to the Reaction.") %></h3>

        <table id="educts-table" class="table table-condensed" style="table-layout:fixed;">
          <thead>
            
            <th style="width:100px;">Molecule</th>
            <th style="width:200px;">Details</th>
            <th style="width:100px;">Equivalent</th>
            <th style="width:100px;">mmol</th>
            <th style="width:100px;">Amount</th>
            <th></th>
          </thead>
          <tbody id="educts">

              <%= f.fields_for :educts do |educt| %>

                <%= render 'educt_fields', :f => educt %>

              <% end %>

          </tbody>
        </table>

    </fieldset>

  
  <br/>

      <fieldset>

      <h3>Reactants&nbsp;<%= link_to_add_association("Add", f, :reactants, :partial => 'reactant_fields', :force_non_association_create => true, 'data-association-insertion-node' => '#reactants', :class => "btn btn-primary reactants", 'data-association-insertion-method' => 'append',:title => "Add a new Molecule to the Reaction.") %></h3>

        <table id="reactants-table" class="table table-condensed" style="table-layout:fixed;">
          <thead>
            
            <th style="width:100px;">Molecule</th>
            <th style="width:200px;">Details</th>
            <th style="width:100px;">Equivalent</th>
            <th style="width:100px;">mmol</th>
            <th style="width:100px;">Amount</th>
            <th></th>
          </thead>
          <tbody id="reactants">

              <%= f.fields_for :reactants do |reactant| %>

                <%= render 'reactant_fields', :f => reactant %>

              <% end %>

          </tbody>
        </table>

    </fieldset>

  
  <br/>

    <fieldset>
      <h3>Products&nbsp;<%= link_to_add_association("Add", f, :products, :partial => 'product_fields', :force_non_association_create => true,:class => "btn btn-primary products", 'data-association-insertion-node' => '#products', 'data-association-insertion-method' => 'append', :title => "Add a new Molecule to the Reaction.") %></h3>

      <table id="products-table" class="table table-condensed" style="table-layout:fixed;">
          <thead>
            <th style="width:100px;">Molecule</th>
            <th style="width:200px;">Details</th>            
            <th style="width:100px;">mmol</th>
            <th style="width:100px;">Amount</th>
            <th style="width:100px;">Yield (%)</th>
            <th></th>
          </thead>
          <tbody id="products">

              <%= f.fields_for :products do |product| %>

                <%= render 'product_fields', :f => product %>

              <% end %>

          </tbody>
        </table>
    </fieldset>

          



<br>

<fieldset>
  <h3>Description</h3>

  <%= f.text_field(:description, :style => "display:none;") %>

    <div id="descwysiwyg" contenteditable="true" style="overflow: scroll; height: 200px; max-height: 200px; border-style: solid; border-color: rgb(204, 204, 204);"></div>
  
</fieldset>

<% end %>
    

<script type="text/javascript">
$('#descwysiwyg').wysiwyg();

$('form').submit(function(){

  var desc = $('#descwysiwyg').html();
  $('#reaction_description').val(desc);

});

$(document).ready(function(){

  $('#descwysiwyg').html($('#reaction_description').val());


})
</script>

<style>

.modal-dialog {

    width: 900px;

}

</style>


<div id="moleculemodal" tabindex="-1" class="modal fade" role="dialog" aria-hidden="true" >

  <div class="modal-dialog" >
    <div class="modal-content">
    <div class="modal-header">
      <h3>Select Molecule</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
      <a href="#" class="btn btn-primary" onclick="done(globalcid); ">Select</a>
    </div>
  </div>
  </div>
</div>
