

  <tr class="nested-fields reactant-entry">

    <td>
        
          <%= f.hidden_field(:is_virtual, :value => true) %>
          <%= f.hidden_field(:is_startingmaterial, :value => false) %>
      
          <%= f.fields_for :molecule, (if (f.object.molecule.nil?) then Molecule.new else f.object.molecule end ) do |molecule| %>

            <%= molecule.hidden_field(:id) %>
            <%= molecule.hidden_field(:smiles) %>
            <%= molecule.hidden_field(:inchi) %>
            <%= molecule.hidden_field(:inchikey) %>
            <%= molecule.hidden_field(:spin) %>
            <%= molecule.hidden_field(:charge) %>
            
              <%= molecule.text_area(:molfile, :class => "input-xlarge molfile_[new_reactants]", :style => "display:none;") %>

              <span style="display:none;">
                <%= molecule.text_field(:title) %>
                <%= molecule.text_field(:formula) %>
                <%= molecule.text_field(:mass, :readonly => :true) %>
              </span>

          <% end %>


          
          <%= render "molecules/render", :molecule => f.object.molecule, :width => "100", :height => "100", :uid => "[new_reactants]" %>




        </td>


        <td class="moldetails_[new_reactants]">
                <% if !(f.object.molecule.nil?) then %>
          <strong><%= f.object.molecule.mass %></strong><br><%= link_to f.object.molecule do %><%= f.object.molecule.title %><% end %><br>
            <%= f.object.molecule.formula %>

            <% else %>
              <p>No molecule</p>
            <% end %>

        </td>
            




        <td><%= f.text_field(:equivalent, :onChange => "javascript: recalculate(this.id);", :style => "width:80px") %></td>
        <td><%= f.text_field(:mol, :onChange => "javascript: recalculate(this.id);", :style => "width:80px") %></td>
        <td><div class="form-group form-inline"><%= f.text_field(:target_amount, :style => "width:80px", :onChange => "javascript: recalculate(this.id);") %> <%= f.select :unit, options_for_select([['mg', "mg"]], "mg" ), {}, :style => "width:60px" %></div></td>

        <%# if current_page?(new_reaction_path) || current_page?(edit_reaction_path) %>
            <td>
              <%= link_to_remove_association('<span class="glyphicon glyphicon-remove" />'.html_safe, f, :title => "Delete this Molecule.") %>
            </td>
        <%# end %>
      </tr>

 <script type="text/javascript">
 
var uid = "[new_reactants]".substr(1, "[new_reactants]".length-2);

if (uid == "new_reactants") {

  uid = Date.now();

  document.getElementsByClassName("molfile_[new_reactants]")[0].className = 'molfile_['+uid+ ']';

    if (!(typeof document.getElementById ('viewACS_[new_reactants]') === "undefined")) {

    document.getElementById ('viewACS_[new_reactants]').id = 'viewACS_['+uid + ']';

  }

  if (!(typeof document.getElementById ('rendermolecule_[new_reactants]') === "undefined")) {

    document.getElementById ('rendermolecule_[new_reactants]').id = 'rendermolecule_['+uid + ']';
  }
  
  document.getElementsByClassName('moldetails_[new_reactants]')[0].className = 'moldetails_['+uid + ']';

}

pick_molecule (uid);
</script>