<h1>Assign Reaction <%= @reaction.name %> and linked elements</h1>

<h1>Assign to Project</h1>

<table class="table table-hover table-striped">
    
    <thead>
        <th></th>
        <th>Title</th>
        <th>Assignment</th>
        <th>Sharing</th>
        <th colspan="1"></th>
    </thead>
    <tbody>
<% @projects.each do |project| %>

<tr>
                <td><% if project.members.length > 0 then %>
                  <span class="glyphicon glyphicon-eye-open" />
   <% else %><span class="glyphicon glyphicon-eye-close" />
   <% end %></td>
    
                <td><h4><% if project.id == @current_user.rootproject_id then %><%= @current_user.firstname %>'s Private Project<% else %><%= project.title %><% end %></h4></td>

                <td>

   <% if project.reactions.exists?(["reaction_id = ?", @reaction.id]) %>

   <% if project.parent_exists? then %>

	<%= link_to "Remove #{@reaction.name}", assign_to_project_do_reaction_path(@reaction, project_id: project.id, :remove => true), method: :post, :class => "btn btn-danger" %>

  <% end %>
	
	<% else %>
  <%= link_to "Add #{@reaction.name}", assign_to_project_do_reaction_path(@reaction, project_id: project.id), method: :post, :class => "btn btn-success" %>

  <% if Project.exists?(project.parent_id) then parent = Project.find(project.parent_id) end %>

  <% loop do %>

    <% if !parent.nil? then %>

    <br>(automatically assign to <%= parent.title %>)

    <% end %>

    <% break if parent.nil? %>

    <% break if parent.parent_id.nil? %>

    <% parent = Project.find(parent.parent_id) %>

  <% end %>

  <% end %>

</td>

                <td>
                  
                  <% if project.members.length > 0 then %>Shared with:<% project.members.each do |m| %><br/><%= m.email %><% end %>
   <% else %>This project is private.
   <% end %>

</td>



</tr>

<% end %>



    </tbody>
</table>


<br>





<%= link_to('Back', @reaction, :class => "btn btn-default") %>
