<% content_for :sidenav_switch do @shownavbar = true end %>

<% content_for :sidenav do %>

    <div class="navbar navbar-fixed-left col-xs-12 col-sm-2 col-md-2 bs-sidebar">

      <div class="well">

        <% @currentitem = "reactions" %>

        <%= render 'layouts/moleculesmenu', :category => "reactions", :project_id => @project.id %>

      </div>


        <%= render 'layouts/projectsmenu', :category => "reactions", :project_id => @project.id %>


    </div>
  
<% end %>

<h1><% if @project.title.nil? then %>My Reactions<% else %>Reactions in <%= @project.title %><% end %><% if policy(@project).addreaction? then %>&nbsp;
<%= link_to 'New Reaction', createdirect_reactions_path(:project_id => @project.id), :class => "btn btn-sm btn-success" %>&nbsp;<%= link_to 'Import', import_project_path(@project.id, :type => "reactions"), :class => "btn btn-sm btn-info" %><% end %></h1>

<% if @project_reactions.length > 0 then %>

<table class="table">
    
    <thead>
        <th>Status</th>
        <th>Name</th>
        <th>Products</th>
        <th>Yield</th>
        <th style="width:200px;">Analytics</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        <% @project_reactions.each do |project_reaction| %>

        <% reaction = Reaction.find(project_reaction.reaction_id) %>

            <tr>
                <td><%= '<i class="icon-ok"/>'.html_safe if reaction %><%= project_reaction.id.to_s %></td>
    
                <td><%= link_to(reaction_path(reaction, :project_id => @project.id), :title => "View #{reaction.name}.") do %><%= reaction.name %><% end %></td>

                <td><%= link_to(reaction_path(reaction, :project_id => @project.id), :title => "View #{reaction.name}.") do %>

                    <% reaction.products.each_with_index do |product, index| %>
      

                      <%= render "molecules/render", :molecule => product.molecule, :width => "100", :height => "100" %>


                    <% end %>

                    <% end %>

                </td>

                <td>
                  <% reaction.products.each_with_index do |product, index| %>
                    <span><%= product.yield %> %</span><br>

                  <% end %>
                </td>
                <td>
                  <% reaction.products.each_with_index do |product, index| %>

                    <% if product.has_analytics?(reaction, "1H") then %><span class="label label-success"><% elsif product.has_unconfirmed_analytics?(current_user, reaction, "1H") then %><span class="label label-warning"><% else %><span class="label label-default"><% end %>1H</span>

                    <% if product.has_analytics?(reaction, "13C") then %><span class="label label-success"><% elsif product.has_unconfirmed_analytics?(current_user, reaction, "13C") then %><span class="label label-warning"><% else %><span class="label label-default"><% end %>13C</span>

                    <% if product.has_analytics?(reaction, "Mass") then %><span class="label label-success"><% elsif product.has_unconfirmed_analytics?(current_user, reaction, "Mass") then %><span class="label label-warning"><% else %><span class="label label-default"><% end %>Mass</span>

                    <% if product.has_analytics?(reaction, "IR") then %><span class="label label-success"><% elsif product.has_unconfirmed_analytics?(current_user, reaction, "IR") then %><span class="label label-warning"><% else %><span class="label label-default"><% end %>IR</span>

                    <% if product.has_analytics?(reaction, "EA") then %><span class="label label-success"><% elsif product.has_unconfirmed_analytics?(current_user, reaction, "EA") then %><span class="label label-warning"><% else %><span class="label label-default"><% end %>EA</span>

                    <br>

                  <% end %>

                  <% if reaction.products.length > 0 then %>
                  <br>
                  <% end %>

                  <% if reaction.has_unconfirmed_analytics?(current_user) then %>
                  
                    <span class="label label-info">Additional measurements available</span>
                  <% end %>
                </td>

                <td><%= link_to('<span class="glyphicon glyphicon-edit"/>'.html_safe, edit_reaction_path(reaction), :title => "Edit #{reaction.name}.") %></td>
                <td><%= link_to('<span class="glyphicon glyphicon-remove"/>'.html_safe, reaction, :method => :delete, :confirm => "Are you sure you want to permanently delete then #{reaction.name} and all its associated Samples?", :title => "Delete #{reaction.name}.") %></td>

            </tr>
        <% end %>

    </tbody>
</table>

<%= will_paginate @project_reactions, renderer: BootstrapPagination::Rails %>

<% else %>
<p>You don't have any Reactions yet.</p>
<% end %> 