<% content_for :sidenav_switch do @shownavbar = true end %>

<% content_for :sidenav do %>

    <div class="navbar navbar-fixed-left col-xs-12 col-sm-2 col-md-2 bs-sidebar">

      <div class="well">

        <% @currentitem = "reactions" %>

        <%= render 'layouts/moleculesmenu' %>

      </div>
    </div>
  
<% end %>

<h1>Reactions <%= link_to 'New', new_reaction_path, :class => 'btn btn-primary', :title => "Add a new Reaction." %></h1>

<% if @reactions.length > 0 then %>

<table class="table">
    
    <thead>
        <th>Status</th>
        <th>Name</th>
        <th>Products</th>
        <th>Yield</th>
        <th style="width:200px;">Analytics</th>
        <th colspan="3"></th>
    </thead>
    <tbody>
        <% @reactions.each do |reaction| %>

            <tr>
                <td><%= '<i class="icon-ok"/>'.html_safe if reaction %></td>
    
                <td><%= reaction.name %></td>

                <td>

                    <% reaction.products.each_with_index do |product, index| %>
      

                      <%= render "molecules/render", :molecule => product.molecule, :width => "100", :height => "100" %>


                    <% end %>

                </td>

                <td>
                  <% reaction.products.each_with_index do |product, index| %>
                    <span><%= product.yield %> %</span><br>

                  <% end %>
                </td>
                <td>
                  <% reaction.products.each_with_index do |product, index| %>

                    <% if product.has_analytics?(reaction, "1H") then %><span class="label label-success"><% elsif product.has_unconfirmed_analytics?(current_user, reaction, "1H") then %><span class="label label-warning"><% else %><span class="label label-default"><% end %>1H</span>

                    <% if product.has_analytics?(reaction, "13C") then %><span class="label label-success"><% elsif product.has_unconfirmed_analytics?(current_user, reaction, "13C") then %><span class="label label-warning"><% else %><span class="label label-default"><% end %>13C</span>

                    <% if product.has_analytics?(reaction, "Mass") then %><span class="label label-success"><% elsif product.has_unconfirmed_analytics?(current_user, reaction, "Mass") then %><span class="label label-warning"><% else %><span class="label label-default"><% end %>Mass</span>

                    <% if product.has_analytics?(reaction, "IR") then %><span class="label label-success"><% elsif product.has_unconfirmed_analytics?(current_user, reaction, "IR") then %><span class="label label-warning"><% else %><span class="label label-default"><% end %>IR</span>

                    <% if product.has_analytics?(reaction, "EA") then %><span class="label label-success"><% elsif product.has_unconfirmed_analytics?(current_user, reaction, "EA") then %><span class="label label-warning"><% else %><span class="label label-default"><% end %>EA</span>

                    <br>

                  <% end %>

                  <% if reaction.products.length > 0 then %>
                  <br>
                  <% end %>

                  <% if reaction.has_unconfirmed_analytics?(current_user) then %>
                  
                    <span class="label label-info">Additional measurements available</span>
                  <% end %>
                </td>

                <td><%= link_to('<span class="glyphicon glyphicon-eye-open"/>'.html_safe, reaction, :title => "View #{reaction.name}.") %></td>

                <td><%= link_to('<span class="glyphicon glyphicon-edit"/>'.html_safe, edit_reaction_path(reaction), :title => "Edit #{reaction.name}.") %></td>

                <td><%= link_to('<span class="glyphicon glyphicon-remove"/>'.html_safe, reaction, :method => :delete, :confirm => "Are you sure you want to permanently delete then #{reaction.name} and all its associated Samples?", :title => "Delete #{reaction.name}.") %></td>

            </tr>
        <% end %>

    </tbody>
</table>

<%= will_paginate @reactions, renderer: BootstrapPagination::Rails %>

<% else %>
<p>You don't have any Reactions yet.</p>
<% end %> 