<% @projects = @reaction.projects %>

<% @showsidebar = true %>

<% content_for :sidebar_switch do @showsidebar = true end %>

<% content_for :sidebar do %>

 <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          
  <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">Project visibility&nbsp;<%= link_to "Change", assign_reaction_path, :class => "btn btn-xs btn-success" %></h3>
        </div>

        <div class="panel-body">


      <% current_user.topprojects.each do |p| %>

              <ul class="nav nav-pills nav-stacked">

                <%= render 'layouts/projecttree', :highlight => @projects, :p => p, :project_id => -1, :category => "reactions", :level => 0 %>


          </ul>

      <% end %>


            
          </div>
        </div>
    </div>
</div>
  
<% end %>


<% content_for :sidenav_switch do @shownavbar = true end %>

<% content_for :sidenav do %>


    <div class="navbar navbar-fixed-left col-xs-12 col-sm-2 col-md-2 bs-sidebar">


      <div class="well">

        <% @currentitem = "reactions_"+@reaction.id.to_s %>

        <%= render 'layouts/moleculesmenu', :category => "reactions", :project_id => @project.id %>

      </div>


        <%= render 'layouts/projectsmenu', :category => "reactions", :project_id => @project.id %>

  
    </div>
  
<% end %>

<script src="/assets/canvasmol/canvasmol.js" type="text/javascript"></script>

<h1><%= @project_reaction.id.to_s %> Reaction <%= @reaction.name %> <%= link_to("Edit", edit_reaction_path(@reaction), :class => "btn btn-primary", :title => "Edit #{ @reaction.name }.") %>&nbsp;<%= link_to "/reactions/"+@reaction.id.to_s+"/zip", :class => "btn btn-info" do %><span class="glyphicon glyphicon-compressed"></span>Download as ZIP<% end %></h1>
<div class="form-horizontal">


<br/>


<fieldset>
  <h3>Starting materials&nbsp;<%= link_to "Add", addtoreaction_molecules_path(:project_id => @project.id, :reaction_id => @reaction.id, :role => "educt"), :class => "btn btn-primary" %></h3>
  <%= render('educts_display') %>
</fieldset>

<br/>

<fieldset>
  <h3>Reactants&nbsp;<%= link_to "Add", addtoreaction_molecules_path(:project_id => @project.id, :reaction_id => @reaction.id, :role => "reactant"), :class => "btn btn-primary" %></h3>
  <%= render('reactants_display') %>
</fieldset>

<br/>

<fieldset>
  <h3>Products&nbsp;<%= link_to "Add", addtoreaction_molecules_path(:project_id => @project.id, :reaction_id => @reaction.id, :role => "product"), :class => "btn btn-primary" %></h3>
  <%= render('products_display') %>
</fieldset>

</div>

<br>

<fieldset>
  <h3>Description</h3>

  <% if !@reaction.description.blank? then %>
<p><b>Description:</b>&nbsp;<%= @reaction.description.html_safe %></p>
<% else %>

<p>No description.</p>
<% end %>
  
</fieldset>

<br>



<% ms = Measurement.where(["user_id = ? and reaction_id = ? and molecule_id IS NULL and confirmed = ?", current_user.id, @reaction.id, false]) %>

<% if ms.length > 0 then %>

<h1>Additional measurements</h1>


<table>
  <% ms.each do |m| %>
    <tr>
      <td>
        <b><%= m.dataset.method %></b>&nbsp;-&nbsp;<%= m.dataset.title %>
      </td>

      <td>
        <%= link_to discard_measurement_path(m), :class => "btn btn-danger" do %>Discard<% end %>
      </td>

      <td>

        <% if m.complete? then %>

        <%= link_to confirm_measurement_path(m), :class => "btn btn-success" do %>Confirm<% end %>

        <% else %>

        <%= link_to import_measurement_path(m), :class => "btn btn-warning" do %>Import<% end %>

        <% end %>
      </td>

      
    </tr>

  <% end %>
</table>


<% end %>



<h3>Analytics</h3>


<% @reaction.products.each do |sample| %>

<% molecule =  sample.molecule %>

<h4><%= link_to(sample_path(sample, :project_id => @project.id)) do %><span class="glyphicon glyphicon-glass" /><%=  sample.longname %><% end %> <% if !sample.reactions.first.nil? then %><small><% sample.reactions.each do |r| %><em> <%= sample.role %> in </em> <%= link_to reaction_path(r, :project_id => @project.id) do %><span class="glyphicon glyphicon-flash" /><%= r.name %><% end %><% end %><% end %></small>  <%= link_to 'Add Dataset', create_direct_datasets_path(:sample_id => sample.id, :molecule_id => sample.molecule.id, :reaction_id => @reaction.id, :project_id => @project.id), :class => "btn btn-default btn-sm" %></h4>


      <%= sample.target_amount.to_s+" "+sample.unit %>  <small> (<%= sample.weight.to_s+" "+sample.unit %>) </small>
    
  <%= render 'library_entries/datasets', :sample => sample, :id => sample.id %>

  <br>

  <% ms = Measurement.where(["user_id = ? and reaction_id = ? and molecule_id = ? and confirmed = ?", current_user.id, @reaction.id, sample.molecule.id, false]) %>

<% if !ms.empty? then %>

<table>
  <% ms.each do |m| %>
    <tr>
      <td><%= link_to dataset_path(:id => m.dataset.id, :reaction_id => @reaction.id) do %><%= image_tag(m.dataset.preview_url, size: "150x100") %><% end %>
      </td>
      <td>
      <h4><%= link_to dataset_path(:id => m.dataset.id, :reaction_id => @reaction.id) do %><b><%= m.dataset.method %></b><% if !m.dataset.title.blank? then %> - <%= m.dataset.title %><% end %><% end %></h4>
      <% if !m.dataset.description.blank? then %>
      <p><%= m.dataset.description.html_safe %></p>
      <% end %>
      
    </td>
    <td><%= link_to confirm_measurement_path(m), :class => "btn btn-success" do %>Confirm<% end %></td>
    </tr>
  <% end %>
</table>

<% end %>

<br />

<% end %>

<br>


 
