<h1>My projects&nbsp;<%= link_to 'New Project', new_project_path, :class => "btn btn-success" %></h1>


<table class="table table-hover table-striped">
    
    <thead>
        <th></th>
        <th>Title</th>
        <th>Elements</th>
        <th>Sharing</th>
        <th colspan="1"></th>
    </thead>
    <tbody>
<% @projects.each do |project| %>


<tr>
                <td><% if project.members.length > 0 then %>
                  <span class="glyphicon glyphicon-eye-open" />
   <% else %><span class="glyphicon glyphicon-eye-close" />
   <% end %></td>
    
                <td><h4><% if project.id == @current_user.rootproject_id then %><%= @current_user.firstname %>'s Private Project<% else %><%= project.title %><% end %></h4><% if Project.exists?(project.parent_id) then %>(belongs to: <%= Project.find(project.parent_id).title %>)<% end %></td>

                <td>

   <p><%= project.molecules.length %> Molecules</p>
   <p><%= project.reactions.length %> Reactions</p>
   <p><%= project.samples.length %> Samples</p>
   <p><%= project.libraries.length %> Libraries</p>

   <p><%= project.datasets.length %> Datasets</p>
   <p><%= project.devices.length %> Devices</p>
   <p><%= project.beaglebones.length %> BeagleBones</p>
   <p><%= project.folder_watchers.length %> Folder Watcher</p>


</td>

                <td>
                  
                  <% if project.members.length > 0 then %>Shared with:<% project.members.each do |m| %><br/><%= m.email %><% end %>
   <% else %>This project is private.
   <% end %>

    <% if (project.id != @current_user.rootproject_id) then %><br/><%= link_to 'Invite someone', invite_project_path(project), :class => "btn btn-success btn-sm" %><% end %>
                </td>

                 <td>&nbsp;<%= link_to 'New Subproject', new_project_path(:parent_id => project.id), :class => "btn btn-success" %>
                  <% if project.id != @current_user.rootproject_id then %><%= link_to('<span class="glyphicon glyphicon-remove"/>'.html_safe, project, :method => :delete, :confirm => "Are you sure?", :title => "Delete #{project.title}.") %><% end %></td>


</tr>

<% end %>



    </tbody>
</table>


<br/>

<h1>Joint projects</h1>

<% if @jointprojects.length > 0 then %>

<table class="table table-hover table-striped">
    
    <thead>
        <th></th>
        <th>Title</th>
        <th>Elements</th>
        <th>Sharing</th>
        <th colspan="1"></th>
    </thead>
    <tbody>
<% @jointprojects.each do |project| %>

<tr>
                <td>
                  <span class="glyphicon glyphicon-star" />
  </td>
    
                <td><h4><%= project.title %></h4>
   <p>Owner: <%= project.owner.email %></p></td>

                <td>

   <p><%= project.molecules.length %> Molecules</p>
   <p><%= project.reactions.length %> Reactions</p>
   <p><%= project.samples.length %> Samples</p>
   <p><%= project.libraries.length %> Libraries</p>

   <p><%= project.datasets.length %> Datasets</p>
   <p><%= project.devices.length %> Devices</p>
   <p><%= project.beaglebones.length %> BeagleBones</p>
   <p><%= project.folder_watchers.length %> Folder Watcher</p>

</td>

                <td>
                  Shared with:<% project.members.each do |m| %><br/><%= m.email %><% end %>
                </td>



</tr>

<% end %>



    </tbody>
</table>

<% else %>
<p>You are not invited to any projects yet.</p>

<% end %>