
<h1>Import measurement <%= link_to "Back", measurements_path, :class => "btn btn-default" %><% if @measurement.complete? then %><%= link_to "Confirm", confirm_measurement_path(@measurement), :class => "btn btn-success" %><% end %></h1>


    <% if !(@measurement.reaction_id.nil?) then %>

        <h2>Assign reaction</h2>

      	<p><%= Reaction.find(@measurement.reaction_id).name %></p>


        <%= form_tag(assign_reaction_measurement_path, method: "post") do |f| %>

          
          <%= hidden_field_tag(:reaction_id) %>

          <%= submit_tag("Remove from reaction", :class => "btn btn-warning") %>
     
        <% end %>

        <br>


        <% if !(@measurement.molecule_id.nil?) then %>

        <h2>Assign molecule</h2>

        <%= Molecule.find(@measurement.molecule_id).title %>

        <%= form_tag(assign_molecule_measurement_path, method: "post") do |f| %>

          
          <%= hidden_field_tag(:molecule_id) %>

          <%= submit_tag("Remove from molecule", :class => "btn btn-warning") %>
     
        <% end %>


        <% else %>

        <h2>Assign to existing molecule</h2>


        <%= form_tag(assign_molecule_measurement_path, method: "post") do |f| %>

          <%= select_tag(:molecule_id, options_for_select(Reaction.find(@measurement.reaction_id).products.collect{ |r| [r.molecule.title, r.id] })) %>
          <%= submit_tag("Assign to molecule", :class => "btn btn-success") %>

        <% end %>


        <% end %>

  




    <% else %>

        <h2>Assign to existing reaction</h2>


        <%= form_tag(assign_reaction_measurement_path, method: "post") do |f| %>

          <%= select_tag(:reaction_id, options_for_select(current_user.reactions.collect{ |r| [r.name, r.id] }, @measurement.guess_user_reaction_id(current_user))) %>
          <%= submit_tag("Assign to reaction", :class => "btn btn-success") %>
     
        <% end %>



        <h2>Assign to new reaction</h2>

        <%= form_tag(assign_reaction_measurement_path, method: "post") do |f| %>

        <% name = @measurement.guess_user_reaction_name(current_user) %>
        <% if name.nil? then name = current_user.sign+"-new" end %>
          <%= text_field_tag(:reaction_name, name) %>
          <%= submit_tag("Create reaction", :class => "btn btn-success") %>
     
        <% end %>


    <% end %>



<div id="moleculemodal" tabindex="-1" class="modal fade" role="dialog" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
      <h3>Select Molecule</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
      <a href="#" class="btn btn-primary" onclick="done(globalcid); ">Select</a>
    </div>
  </div>
  </div>
</div>
