<% content_for :sidenav_switch do @shownavbar = true end %>

<% content_for :sidenav do %>

    <div class="navbar navbar-fixed-left col-xs-12 col-sm-2 col-md-2 bs-sidebar">

      <div class="well">

        <% @currentitem = "folder_watchers" %>

        <%= render 'layouts/devicesmenu' %>

      </div>
    </div>
  
<% end %>

<h1>Folder Watchers <%= link_to 'New', new_folder_watcher_path, :class => "btn btn-success" %>
</h1>

<% if @folder_watchers.length > 0 then %>

<table class="table">
  <thead>
    <th>Serialnumber</th>
    <th>last seen</th>
    <th>Pattern</th>
    <th></th>
    <th></th>
  </thead>

  <tbody>

<% @folder_watchers.each do |folder_watcher| %>
  <tr>
    <td><%= folder_watcher.serialnumber %></td>
 

    <td><%= if (folder_watcher.updated_at) then distance_of_time_in_words_to_now(folder_watcher.updated_at)+" ago" else "never" end %></td>
    <td>
    </td>

    <td><%= link_to 'Edit', edit_folder_watcher_path(folder_watcher) %></td>
    <td><%= link_to 'Destroy', folder_watcher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

</tbody>
</table>

<% else %>
<p>You don't have any Folder Watcher yet.</p>
<% end %> 