<% sample = @library_entry.sample %>


<% @showsidebar = true %>

<% content_for :sidebar_switch do @showsidebar = true end %>

<% content_for :sidebar do %>

 <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          
  <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">Project visibility<% if sample.reactions.first.nil? then %>&nbsp;<%= link_to "Change", assign_sample_path, :class => "btn btn-xs btn-success" %><% end %></h3>
        </div>

        <div class="panel-body">


            <% current_user.topprojects.each do |p| %>

              <ul class="nav nav-pills nav-stacked">

                <%= render 'layouts/projecttree', :highlight => @sample.projects, :p => p, :project_id => -1, :category => "samples", :level => 0 %>


              </ul>

            <% end %>


            
          </div>
        </div>
    </div>


<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          
  <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">Permissions</h3>
        </div>

        <div class="panel-body">


          <p>Element Creator: <%= User.find(@project_sample.user_id).firstname + " "+ User.find(@project_sample.user_id).lastname %></p>

          <p>Your role in the current project: <%= @project.role_str(current_user) %></p>

          <p>Your element permission: <%= @project_sample.permission_str(current_user) %></p>    
            
          </div>
        </div>
    </div>

  
<% end %>



<% content_for :sidenav_switch do @shownavbar = true end %>

<% content_for :sidenav do %>

    <div class="navbar navbar-fixed-left col-xs-12 col-sm-2 col-md-2 bs-sidebar">


      <div class="well">

        <% @currentitem = "samples" %>

        <%= render 'layouts/moleculesmenu', :category => "samples", :project_id => @project.id %>

      </div>

      <%= render 'layouts/databasemenu', :category => "samples", :project_id => @project.id %>

        <%= render 'layouts/projectsmenu', :category => "samples", :project_id => @project.id %>



    </div>
  
<% end %>

<% @shownavbar = true %>



<h1>
  <span class="glyphicon glyphicon-glass" /><%=  sample.longname %>&nbsp;<%= link_to "/samples/"+sample.id.to_s+"/zip?project_id="+@project.id.to_s, :class => "btn btn-info" do %><span class="glyphicon glyphicon-compressed"></span>Download as ZIP<% end %>
</h1>

<h3><%= sample.target_amount.to_s+" "+sample.unit %>  <small> (<%= sample.weight.to_s+" "+sample.unit %>) </small></h3>


      <% if !sample.reactions.first.nil? then %><br><% sample.reactions.each do |r| %><em> <%= sample.role %> in </em> <%= link_to reaction_path(r, :project_id => @project.id) do %><span class="glyphicon glyphicon-flash" /><%= r.name %><% end %><% end %><% end %>



    <td><%= link_to split_sample_path(sample, :project_id => @project.id), :class => "btn btn-xs btn-default" do %><span class="glyphicon glyphicon-tint"> Split</span><% end %><br/>
     <!-- <%= link_to transfer_sample_path(sample, :project_id => @project.id), :class => "btn btn-xs btn-default" do %><span class="glyphicon glyphicon-send"> Transfer</span><% end %></td> -->

<table style="border-spacing: 10px; border-collapse: separate;">
  <tr>

    <td>

<%= render "molecules/render", :molecule => sample.molecule, :width => "200", :height => "150" %>

</td>

<td>Molecule: <%= link_to sample.molecule.title, molecule_path(sample.molecule, :project_id => @project.id) %></td>


</tr>

</table>



  <h3><span class="glyphicon glyphicon-book" /> Literature <% if policy(sample).edit? then %><%= link_to 'Add Citation', add_literature_to_sample_path(:sample_id => sample.id, :project_id => @project.id), :class => "btn btn-default btn-sm" %><% end %></h3>

    <% if !sample.citations.empty? then %>

 <% sample.citations.each do |c| %>

    <%= link_to "http://dx.doi.org/"+c.doi, :target => "_blank" do %><%= c.title %><% end %><br><%= c.fullcitation %><br>

  <% end %>

<% else %>

No literature is linked to this sample.

<% end %>

<h3><span class="glyphicon glyphicon-paperclip"/> <%= sample.datasets.length %> Datasets <%= link_to 'Add Dataset', create_direct_datasets_path(:sample_id => sample.id, :project_id => @project.id), :class => "btn btn-default btn-sm" %></h3>


<%= render 'library_entries/datasets', :id => sample.id, :sample => sample, :molecule => @molecule %>