<p id="notice"><%= notice %></p>

<p>
  <strong>Device:</strong>
  <%= @location.device_id %>
</p>

<p>
  <strong>Sample:</strong>
  <%= @location.sample_id %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
