<%= javascript_include_tag ("/assets/dial_a_device_node/devices/"+ @device.devicetype.name) %>

<%= javascript_include_tag ("/assets/dial_a_device_node/devices/"+ @device.devicetype.name + "_UI") %>

<%= javascript_include_tag ("/assets/dial_a_device_node/devices/"+ @device.devicetype.name + "_SIM") %>

<%= javascript_include_tag ("/assets/dial_a_device_node/webconnection.js") %>
<%= javascript_include_tag ("/assets/dial_a_device_node/consolelogger.js") %>
<%= javascript_include_tag ("/assets/dial_a_device_node/systemstatus.js") %>

<script type="text/javascript">
	var devicetype = "<%= @device.devicetype.name %>"
	var operation_id = "<%= if (@operation != nil) then @operation.id end %>"
	var device_id = "<%= @device.id %>"
  var user_id = "<%= if (@current_user != nil) then  @current_user.id end %>"
  var connectiontype = "<%= @device.connectiontype %>"
	var channel_name = "channel_dev_" + device_id;
  var run_id = "<%= if (@run != nil) then @run.id end %>"

  var ev = new EventEmitter({wildcard: true});

    systemstatus.init (ev);

    webconnection.init (ev, false);
    
    ev.emit ("device.announce.deviceid", [device_id]);
    ev.emit ("device.announce.operationid", [operation_id]);
    ev.emit ("device.announce.devicetype", [devicetype]);

    ev.emit ("webconnection.set.url", [window.location.host+"/websocket"]);
    ev.emit ("webconnection.set.channelname", [channel_name]);

    device.init (ev);
    ui.init (ev);
    if (connectiontype == "simulation") {
      simulator.init (ev);
    }
    consolelogger.init (ev);


    ev.emit ("webconnection.connect");

    ev.on ("ui.update.status", function (model) {

        if (model.devicesimulation) {
            $("#connstatus").text ("Simulation mode");
            $("#connstatus").removeClass ("label-*");
            $("#connstatus").addClass ("label-warning");
        } else {
            if (model.deviceconnection) {                
                $("#connstatus").text ("Device Connected");
                $("#connstatus").removeClass ("label-*");
                $("#connstatus").addClass ("label-success");
            } else {
                $("#connstatus").text ("Device Disconnected");
                $("#connstatus").removeClass ("label-*");
                $("#connstatus").addClass ("label-important");
            }
        }
    });
</script>


<div class="row-fluid clearfix" style="height: 160px;">

             <div id="gauge1" class="span3 200x160px"></div>


             <div id="gauge2" class="span3 200x160px"></div>


            <div id="gauge3" class="span3 200x160px"></div>

             <div id="gauge4" class="span3 200x160px"></div>

</div>


<script>
 var g1 = new JustGage({
    id: "gauge1", 
    value: 0, 
    min: 10,
    max: 280,
    title: "Rotation",
    label: "rpm"
  }); 

  var g2 = new JustGage({
    id: "gauge2", 
    value: 0, 
    min: 20,
    max: 210,
    title: "HB - temperature",
    label: "°C"
  }); 

  var g3 = new JustGage({
    id: "gauge3", 
    value: 0, 
    min: 5,
    max: 40,
    title: "Ext. Sensor-Temperature",
    label: "°C"
  }); 

  var g4 = new JustGage({
    id: "gauge4", 
    value: 0, 
    min: 0,
    max: 1200,
    title: "Vacuum",
    label: "mbar"
  }); 
</script>

