<script src="../highcharts/highcharts.js"></script>
<script src="../highcharts/modules/exporting.js"></script>

<%= javascript_include_tag ("./dial_a_device_node/devices/"+ @device.devicetype.name) %>

<%= javascript_include_tag ("./dial_a_device_node/devices/"+ @device.devicetype.name + "_UI") %>

<%= javascript_include_tag ("./dial_a_device_node/devices/"+ @device.devicetype.name + "_SIM") %>

<%= javascript_include_tag ("./dial_a_device_node/webconnection.js") %>
<%= javascript_include_tag ("./dial_a_device_node/consolelogger.js") %>
<%= javascript_include_tag ("./dial_a_device_node/systemstatus.js") %>

<script type="text/javascript">
    var devicetype = "<%= @device.devicetype.name %>"
    var operation_id = "<%= if (@operation != nil) then @operation.id end %>"
    var device_id = "<%= @device.id %>"
    var user_id = "<%= if (@current_user != nil) then  @current_user.id end %>"
    var connectiontype = "<%= @device.connectiontype %>"
    var channel_name = "channel_dev_" + device_id;
    var run_id = "<%= if (@run != nil) then @run.id end%>"

    var ev = new EventEmitter({wildcard: true});

    systemstatus.init (ev);

    webconnection.init (ev, false);
    
    ev.emit ("device.announce.deviceid", [device_id]);
    ev.emit ("device.announce.operationid", [operation_id]);
    ev.emit ("device.announce.devicetype", [devicetype]);

    ev.emit ("webconnection.set.url", [window.location.host+"/websocket"]);
    ev.emit ("webconnection.set.channelname", [channel_name]);

    device.init (ev);
    ui.init (ev);
    if (connectiontype == "simulation") {
      simulator.init (ev);
    }
    consolelogger.init (ev);


    ev.emit ("webconnection.connect");

    ev.on ("ui.update.status", function (model) {

        if (model.devicesimulation) {
            $("#connstatus").text ("Simulation mode");
            $("#connstatus").removeClass ("label-*");
            $("#connstatus").addClass ("label-warning");
        } else {
            if (model.deviceconnection) {                
                $("#connstatus").text ("Device Connected");
                $("#connstatus").removeClass ("label-*");
                $("#connstatus").addClass ("label-success");
            } else {
                $("#connstatus").text ("Device Disconnected");
                $("#connstatus").removeClass ("label-*");
                $("#connstatus").addClass ("label-important");
            }
        }
    });


    ev.on ("ui.update.sample", function (sample_id) {

        detectedSample (sample_id, false);
    });


</script>


<div class="row-fluid" style="margin-top:20px;">
    <div class="span12">
        <div id="tab2" name="tab2" class="well" style="text-align: center";>
           <label id="Display" name="Display"  ><span id="iDisplay" style="font-size: 20px;"></span></label>

        </div>
     </div>
</div>


<div class="row-fluid">
    <div class="span12">
       
        <span class="btn-group">
            <button id="powerbutton" name="powerbutton" class="btn btn-warning btn-large" onclick="ui.togglepower(); "><i id="powericon" name="powericon" class="icon-play"></i>&nbsp;<span id="power">POWER</span></button>
        </span>


         
        <span class="btn-group">
            <button id="reset" name="RESET" class=" btn btn-inverse btn-large" onclick="ui.reset(); " >RESET</button>
           </span>
 

        <span class="btn-group">
            <button id="Calibrate" name="Cal" class=" btn btn-info btn-large" onclick="ui.calibration();">CAL </button>
        </span>


        <span class="btn-group">

            <button id="tare" name="TARE" class="btn btn-danger btn-large " onclick="ui.tare();" >   TARE  </button>
        </span>
        
         <span class="btn-group">
            <button id="print" name="PRINT" class=" btn btn-success btn-large" onclick="ui.print(); " > PRINT</button>
        </span>

       
        
        <span class="btn-group">
            <button id="autoprintbutton" name="autoprintbutton" class=" btn btn-warning btn-large" onclick="ui.toggleautoprint(); " ><i id="autoprinticon" name="autoprinticon" class="icon-play"></i>&nbsp;<span id="autoprint">AUTOPRINT</span></button>
        </span>

    </div>

    <script type="text/javascript">
        if (connectiontype == "simulation") {
            //ev.emit("device.set.print");
        }
    </script>
</div>
